/* large.css */
@media (min-width: 1024px) {
    .menu-toggle{
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        position: relative;

    }

    nav a{
        font-size: 1rem;
        width: 100%;
    }
    nav a:hover{
        border-bottom: 4px solid var(--secondary-color);
        border-left: 4px solid var(--secondary-color);
        border-top: 1px solid var(--secondary-color);
        border-right: 1px solid var(--secondary-color);
    }
    .active {
        border-bottom: 1px solid var(--secondary-color);
        border-left: 1px solid var(--secondary-color);
        border-top: 4px solid var(--secondary-color);
        border-right: 4px solid var(--secondary-color);
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .copyright {
        grid-column: 1/4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12dpx;
    }
    .footer-links a {
        margin: 0.5rem;
    }
    .footer-links a:hover, .school-info a:hover {
        color:var(--secondary-color);
    }

    .about-preview {
        margin: 24px;
    }

    .club-event {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .event, .news, .carousel {
        height: 250px;
        overflow: scroll;
    }

    .spotlight {
        grid-template-columns: repeat(3, 1fr);
    }

    .member-card {
        max-width: 300px;
    }
}