/* medium.css */
@media (min-width: 641px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem ;
        position: sticky;
        top: 0;
    }

    nav {
        justify-content: flex-end;
    }

    nav a:hover {
        border-bottom: 4px solid var(--secondary-color);
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        font-size: 1.2rem;
   }

   .cta:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    
        /* GRID VIEW */
    .members {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .member-card {
        margin: 8px;

    }

    #visit-message {
        transition: opacity 1s ease;
    }
    #visit-message p {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--dark-bg-color);
        text-align: center;
        background-color: var(--secondary-color);
        padding: 0.75rem;
        border-radius: 6px;
        position: fixed;
        float: right;
    }



}