.rating {
    display: inline-flex;
    direction: rtl;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: var(--secondary-color);
    cursor: pointer;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #ffcc00;
}


/* =============
    posts
================ */
.post {
    width: 60%;
    padding: 0 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
}
.user-info img {
    border-radius: 50%;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}
.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.user-info h6:hover, .user-info img:hover {
    background-color: rgba(0, 0, 0, 0.234);
}
.post-content {
    margin-bottom: 1rem;
    background-color: aliceblue;
}

.post-interactions {
    display: flex;
    gap: 1rem;
}








.carousel {
  width: 320px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 10px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.left { left: 10px; }
.right { right: 10px; }
