/* small.css */

:root {
  --primary-color: #0c0049;
  --secondary-color: #f2b705;
  --background-color: #ffffff;
  --text-color: #111111;
  --text-blue: #252676;
  --footer-bg: #e2e2e2;
  --link-blue: #0e5afc;
}

body {
  font-family: 'Open Sans', Arial, sans-serif; /* Body Font */
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2, h3 {
  font-family: 'Poppins', sans-serif; /* Heading Font */
  color: var(--text-blue);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-height: 80px;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 1000;

}
header> a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
}
header>a img {
  width: 50px;
  margin-right: 10px;
}
header span {
  font-size: 1.5rem;
  margin: 0;
}
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}
.menu-toggle img {
  width: 30px;
  margin: 0;
}

nav {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0 0 5px 5px;
  z-index: 1000;
  width: 60vw;
}

.show {
    display: flex;
}
.active {
  /* background-color: var(--secondary-color);
  color: var(--primary-color); */
  border-bottom: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
  border-top: 4px solid var(--secondary-color);
  border-right: 4px solid var(--secondary-color);
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  /* margin: 0 24px; */
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--text-color);
  text-align: center;
}


/* =================
    footer
================== */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--footer-bg);
  color: var(--text-color);
}

.school-info, .copyright, .footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.socials a:hover {
  background-color: var(--background-color);
}
.school-info p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.school-info h2, footer h3 {
  color: var(--text-blue);
  margin: 0;
  padding: 0;
}
.copyright p {
  margin: 0;
  padding: 0;
}
.copyright {
  margin-top: 1rem;
  border-top: 1px solid var(--primary-color);
  padding: 16px;
}
.footer-links a, .school-info a {
  /* text-decoration: none; */
  color: var(--link-blue);
}

/* ===========
  index
  ============== */
.hero {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.hero-content {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  text-align: center;
  background: #0c00499d;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}
.hero h1 {
  color: var(--background-color);
}
.cta {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 5px;
  cursor: pointer;
}

.about-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

.adm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 8px;
  border-radius: 10px ;
  border: solid var(--text-blue);
}

.carousel {
  width: 320px;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfdddd;
}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 10px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.left { left: 10px; }
.right { right: 10px; }


.spotlight > div {
    background-color: #dfdddd;
    border-radius: 6px;
    padding: 0.75rem;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.25rem;
}

.spotlight {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 2rem;
}

.members {
  display: grid;
  grid-template-rows: 1fr;
}
.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.forum-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.forum-main > div {
    border-radius: 6px;
    padding: 1rem;
    width: 100%;
    max-width: 90%;
}
.forum-main h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.forum-main button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--background-color);
}
.forum-main button.current {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.forum-main button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.unauthorized:open {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.unauthorized:open h3 {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #ccc;
}

/* ---------- Form ---------- */
.join-form {
    display: grid;
    padding: 1rem;
    max-width: 100%;
}
form {
  max-width: 600px;
    margin: 0 auto;
}
form h1,
form h3 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

input:active,
select:active,
textarea:active,
input:focus,
select:focus,
textarea:focus {
  outline: 2px solid var(--secondary-color);
}

input:hover,
select:hover,
textarea:hover {
  border: 1px solid var(--secondary-color);
}

textarea {
  min-height: 100px;
}

input[type="submit"] {
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.thank-you-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4px;
  padding: 24px;
}


.event-con, .news-con, .clubs {
  padding: 1rem;
}

.event-card, .news-card {
  background: #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 5px solid #004080;
  border-radius: 6px;
}

.event h2, .news h2 {
  margin-bottom: 1rem;
}
