/* small.css */

:root {
  --primary-color: #0c0049;
  --secondary-color: #f2b705;
  --background-color: #ffffff;
  --text-color: #333333;
  --text-blue: #252676;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-height: 80px;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);

}
header> a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
}
header>a img {
  width: 50px;
  margin-right: 10px;
}
header h1 {
  font-size: 1.5rem;
  margin: 0;
}
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}
.menu-toggle img {
  width: 30px;
  margin: 0;
}

nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 0 0 5px 5px;
    z-index: 1000;
}

.active {
    display: flex;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}


/* =================
    footer
================== */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.school-info, .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.school-info p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}
.copyright p {
    margin: 0;
    padding: 0;
}
.copyright {
    margin-top: 1rem;
    border-top: 1px solid var(--text-color);
    padding: 16px;
}
.footer-links a {
  text-decoration: none;
  color: var(--secondary-color);
}