/* large.css */
@media (min-width: 720px) {
    .menu-icon {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 1rem;
        border: none;
        width: auto;
    }

    .nav a {
        border: none;
    }

    .members.list {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    /* GRID VIEW */
    .members {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    /* LIST VIEW */
    .members.list .member-card {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 2fr;
        align-items: center;
        padding: 0.75rem 1rem;
        background-color: var(--light-bg-color);
        border-radius: 4px;
    }

    .members.list .member-card:nth-child(even) {
        background-color: #bfe9f7;
    }

    .members.list img {
        display: none;
    }

    .members.list h3,
    .members.list p,
    .members.list a {
        margin: 0;
        font-size: 0.95rem;
    }
    .hero {
        max-width: 100%;
    }

    .hero-text {
        top: 0;
        width: 40%;
        height: 99%;
        padding: 1rem;
    }
    .hero-text h3 {
        font-size: 2.5rem;
    }
    
    .hero-text p {
        font-size: 1.2rem;
    }

    .cta-btn {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
    }

    main h1 {
        font-size: 2rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .weather {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .spotlight {
        grid-template-columns: repeat(3, 1fr);
    }

    .join-form{
        grid-template-columns: 2fr 1fr;
        align-items: start;
        gap: 1rem;
    }

    /* ---------- Modals ---------- */
    dialog {
        margin-left: auto;
        margin-right: 2rem;
        max-width: 30vw;
    }

    dialog::backdrop {
        background: rgba(0,0,0,0.5);
    }

}
