/* large.css */
@media (min-width: 720px) {
    .menu-icon {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 1rem;
        border: none;
        width: auto;
    }

    .nav a {
        border: none;
    }

    .members.list {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    /* GRID VIEW */
    .members {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    /* LIST VIEW */
    .members.list .member-card {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr 2fr;
        align-items: center;
        padding: 0.75rem 1rem;
        background-color: var(--light-bg-color);
        border-radius: 4px;
    }

    .members.list .member-card:nth-child(even) {
        background-color: #bfe9f7;
    }

    .members.list img {
        display: none;
    }

    .members.list h3,
    .members.list p,
    .members.list a {
        margin: 0;
        font-size: 0.95rem;
    }
    .hero {
        max-width: 100%;
    }

    .hero-text {
        top: 0;
        width: 40%;
        height: 99%;
        padding: 1rem;
    }
    .hero-text h3 {
        font-size: 2.5rem;
    }
    
    .hero-text p {
        font-size: 1.2rem;
    }

    .cta-btn {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
    }

    main h1 {
        font-size: 2rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .weather {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .spotlight {
        grid-template-columns: repeat(3, 1fr);
    }

    .join-form{
        grid-template-columns: 2fr 1fr;
        align-items: start;
        gap: 1rem;
    }

    /* ---------- Modals ---------- */
    dialog {
        margin-left: auto;
        margin-right: 2rem;
        max-width: 30vw;
    }

    dialog::backdrop {
        background: rgba(0,0,0,0.5);
    }

}

@media (min-width: 641px) {
    .discover-main {
        padding: 2rem 4rem;
    }

    .place_card {
        display: grid;
        grid-template-areas:
            "title title"
            "image info"
            "button button";
        height: 350px;
    }
    .place_card .learn {
        height: 3rem;
    }

    .place_card h2 {
        grid-area: title;
    }

    .place_card figure {
        grid-area: image;
    }
    .place_card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    .place_card img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    .place_card .place-info {
        grid-area: info;
        padding: 0 1rem;
    }

    .place_card button {
        grid-area: button;
    }
    #visit-message {
        transition: opacity 1s ease;
    }
    #visit-message p {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--dark-bg-color);
        text-align: center;
        background-color: var(--secondary-color);
        padding: 0.75rem;
        border-radius: 6px;
        position: fixed;
        float: right;
    }

}

@media (min-width: 1024px) {
    .discover-main {
        padding: 2rem 0 6rem 0;
    }
    .discover-grid {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-areas:
        "place_card1 place_card2 "
        "place_card3 place_card4"
        "place_card5 place_card6"
        "place_card7 place_card8";
    }
}
