/* ================= LARGE SCREENS ================= */
@media (min-width: 768px){

    main{
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }

    main h1{
        grid-column: 1 / -1;
    }

    main section:first-of-type{
        grid-column: 1 / 2;
    }

    main section:nth-of-type(2){
        grid-column: 2 / 3;
    }

    main section:nth-of-type(3){
        grid-column: 1 / 3;
    }

    header button{
        display: none;
    }

    nav{
        display: flex;
    }

    nav a{
        padding: 1rem 1.5rem;
    }
}
